@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    /* --background-rgb: 254, 240, 230; */
    /* --background-start-rgb: 214, 219, 220; */
    /* --background-end-rgb: 255, 255, 255; */
}

@media (prefers-color-scheme: dark) {
    /* :root {
        --foreground-rgb: 255, 255, 255;
        --background-start-rgb: 0, 0, 0;
        --background-end-rgb: 0, 0, 0;
    } */
}

body {
    /* color: rgb(var(--foreground-rgb)); */
    background: rgb(254, 240, 230);
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}

#pink-fill {
    background-color: rgb(244, 172, 159);
}
#light-pink-fill {
    background-color: rgb(238, 204, 199);
}

@layer base {
    @font-face {
        font-family: "Open Sans";
        font-style: normal;
        font-display: swap;
    }
}

@layer base {
    @font-face {
        font-family: "Cormorant Garamond";
        font-weight: 300; /* Light font weight */
        font-style: normal;
        font-display: swap;
    }
}

html {
    font-family: var(--font-sans);
}

#title {
    font-family: var(--font-cormorant);
}
